<div class='darkbox'>

  <h1 class='small-10 columns darkbox'><%= @character.name %></h1>

  <br/>


  <div class='small-8 columns darkbox' id="app" data-id="<%= @character.id %>">
  </div>
  <br />
  <p class='small-8 columns darkbox'>
    <%= link_to "Home", root_path %>
  </p>
</div>
